<h1>Edit A Potion</h1>
<form action="/potions/<%=@potion.id%>" method="post">

  <label for="name">Potion Name:</label>
  <input id="name" type="text" name="name" value="<%= @potion.name %>"/>
<br>
  <label for="description">Description:</label>
  <input id="description" type="text" name="description" value="<%= @potion.description %>"/>
<br>
  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity" value="<%= @potion.quantity %>"/>
<br>
  <label for="cost_price">Cost Price:</label>
  <input id="cost_price" type="number" name="cost_price" value="<%= @potion.cost_price %>"/>
<br>
  <label for="sale_price">Sale Price:</label>
  <input id="sale_price" type="number" name="sale_price" value="<%= @potion.sale_price %>"/>
<br>
<label>
    Maker:
  </label>
    <select name="maker_id">
      <% @makers.each do |maker| %>
      <option <%= "selected" if @potion.maker_id == maker.id %>
        value=<%= maker.id %>> <%= maker.name %></option>
      <% end %>
    </select>
<br>
  <label for="type_id">
    Type:
  </label>
    <select name="type_id">
      <% @types.each do |type| %>
      <option <%= "selected" if @potion.type_id == type.id %>
        value=<%= type.id %>> <%= type.name %></option>
      <% end %>
    </select>
<br>
  <input type="submit" name="submit" value="Update">


</form>
