<h1><a href="/potions">All The Potions</a></h1>

<div class="filters">
<label for="maker_id">View Potions by Maker: </label>
<form method="get" action="/potions/maker/">
  <select name="maker_id">
    <%for maker in @makers%>
    <option value="<%=maker.id%>"> <%=maker.name%> </option>
    <% end %>
  </select>
  <input type="submit" value="Filter by Maker">
</form>

<label for="type_id">View Potions by Type: </label>
<form method="get" action="/potions/type/">
  <select name="type_id">
    <%for type in @types%>
    <option value="<%=type.id%>"> <%=type.name%> </option>
    <% end %>
  </select>
  <input type="submit" value="Filter by Type">
</form>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Quantity</th>
    <th>Cost Price</th>
    <th>Sale Price</th>
    <th>Markup</th>
    <th>Maker</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Stock Warning</th>
  </tr>

  <% for potion in @potions%>
  <tr>
    <td><a href="http://localhost:4567/potions/<%=potion.id%>"><%=potion.name%></a></td>
    <td><%=potion.description%></td>
    <td><%=potion.type.name%></td>
    <td><%=potion.quantity%></td>
    <td><%=potion.cost_price%></td>
    <td><%=potion.sale_price%></td>
    <td><%=potion.markup%></td>
    <td><a href="http://localhost:4567/makers/<%=potion.maker.id%>"><%=potion.maker.name%></a></td>
    <td><a href='/potions/<%=potion.id%>/edit'>Edit</a></td>
    <td> <form method="post" action="/potions/<%=potion.id%>/delete"> <input type="submit"  value="Delete"></form> </td>
    <td>
      <% if potion.quantity.to_i < 1%><img src='/images/red.png' alt="a small potion bottle">
      <%end%>
      <% if potion.quantity.to_i <= 5 && potion.quantity.to_i >= 1%><img src='/images/yellow.png' alt="a small potion bottle">
      <%end%>
      <% if potion.quantity.to_i > 5%><img src='/images/green.png' alt="a small potion bottle">
      <%end%>
    </td>
  </tr>
  <%end%>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td>Total Inventory:</td>
      <td><%= @potions.map{|potion| potion.quantity.to_i}.reduce(:+) %></td>
      <td></td>
      <td>Potential Profit:</td>
      <td><%= @potions.map{|potion| potion.markup_total.to_f}.reduce(:+) %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
<br>
<a href="/potions/new">Add A Potion</a>
