<h1>All The Potions</h1>

<p>View Potions by Maker:</p>

<form action="/potions/maker/" method="get">
  <select name="maker_id">
    <% for maker in @makers %>
    <option value="<%= maker.id %>"><%= maker.name %></option>
    <% end %>
  </select>
<input type="submit" name="submit" value="Enter">
</form>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Quantity</th>
    <th>Cost Price</th>
    <th>Sale Price</th>
    <th>Markup</th>
    <th>Maker</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% for potion in @potions%>
  <tr>
    <td><a href="potions/<%=potion.id%>"><%=potion.name%></a></td>
    <td><%=potion.description%></td>
    <td><%=potion.type.name%></td>
    <td><%=potion.quantity%></td>
    <td><%=potion.cost_price%></td>
    <td><%=potion.sale_price%></td>
    <td><%=potion.markup%></td>
    <td><a href="http://localhost:4567/makers/<%=potion.maker.id%>"><%=potion.maker.name%></a></td>
    <td><a href='/potions/<%=potion.id%>/edit'>Edit</a></td>
    <td> <form method="post" action="/potions/<%=potion.id%>/delete"> <input type="submit"  value="Delete"></form> </td>
  </tr>
  <%end%>
  <tfoot>
    <tr>
      <td></td>
      <td>Total:</td>
      <td><%= @potions.map{|potion| potion.quantity.to_i}.reduce(:+) %></td>
      <td></td>
    </tr>
  </tfoot>
</table>

<a href="/potions/new">Add A Potion</a>
