<h1>All The Potions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Cost Price</th>
    <th>Sale Price</th>
    <th>Maker</th>
    <th>Type</th>
  </tr>

  <% for potion in @potions%>
  <tr>
    <td><%=potion.name%></td>
    <td><%=potion.description%></td>
    <td><%=potion.quantity%></td>
    <td><%=potion.cost_price%></td>
    <td><%=potion.sale_price%></td>
    <td><%=potion.maker_id%></td>
    <td><%=potion.type_id%></td>
  </tr>
  <%end%>
</table>
<!-- <td><%= @potions.map{|potion| potion.quantity.to_i}.reduce(:+) %></td> -->
