<h1><%=@potion.name%></h1>
<p>Description: <%=@potion.description%></p>
<p>Quantity: <%=@potion.quantity%></p>
<p>Cost Price: <%=@potion.cost_price%></p>
<p>Sale Price: <%=@potion.sale_price%></p>
<p>Maker: <%=@potion.maker.name%></p>
<p>Type: <%=@potion.type.name%></p>

<a href='/potions/<%=@potion.id%>/edit'>Edit</a>

<form method="post" action='/potions/<%=@potion.id%>/delete'>
    <input type="submit"  value="Delete">
