<h1><%=@potion.name%></h1>

<table>
  <tr>
    <th>Description</th>
    <th>Quantity</th>
    <th>Cost Price</th>
    <th>Sale Price</th>
    <th>Markup</th>
    <th>Potential Profit</th>
    <th>Maker</th>
    <th>Type</th>
  </tr>
  <tr>
    <td><%=@potion.description%></td>
    <td><%=@potion.quantity%></td>
    <td><%=@potion.cost_price%></td>
    <td><%=@potion.sale_price%></td>
    <td><%=@potion.markup%></td>
    <td><%=@potion.markup_total%></td>
    <td><%=@potion.maker.name%></td>
    <td><%=@potion.type.name%></td>
  </tr>
</table>

<div class="chunk">
  <form action='/potions/<%=@potion.id%>/edit'>
       <button type="submit">Edit</button>
    </form>
  <form method="post" action='/potions/<%=@potion.id%>/delete'>
      <input type="submit"  value="Delete">
    </form>
</div>
