<h1>This Potion</h1>
<p><%=@potion.name%></p>
<p><%=@potion.description%></p>
<p><%=@potion.quantity%></p>
<p><%=@potion.cost_price%></p>
<p><%=@potion.sale_price%></p>
<p><%=@potion.maker.name%></p>
<p><%=@potion.type.name%></p>

<a href='/potions/<%=@potion.id%>/edit'>Edit</a>

<form method="post" action='/potions/<%=@potion.id%>/delete'>
    <input type="submit"  value="Delete">
