<h1>One Potion</h1>
<p><%=@potion.name%></p>
<p><%=@potion.description%></p>
<p><a href="http://localhost:4567/makers/<%=@potion.maker.id%>"><%=@potion.maker.name%></a></p>
<p><%=@potion.type.name%></p>
<p><%=@potion.cost_price%></p>
<p><%=@potion.sale_price%></p>
<p><%=@potion.markup%></p>
<p><%=@potion.quantity%></p>
